@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);

*
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

#display
{
	width: 100%;
	height: 100%;

	overflow: hidden;

	font-family: 'Alegreya Sans', sans-serif;
	font-size: 200px;
	font-weight: 800;
	font-variant: normal;
}

.fill
{
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
}

.face
{
	width: inherit;
	height: inherit;
}

.fader
{
	background: #fff;

}

.fader
{
	transition: 2s ease-in;
}



.time
{
	width: auto;
	height: auto;

	position: relative;
	/* margin: 0 auto 0 10%; */
	margin: 0 auto 0 50px;
	top: 50%;
	transform: translateY(-50%);

	text-align: left;


	color: rgb(245, 245, 255);
}

.time p
{
	font-size: 1em;
	line-height: 1;
}

.time-loop
{
	animation: timeLoopFrames 2000ms ease-in-out forwards;
}

@keyframes timeLoopFrames
{
	0%		{transform: translateX(0%);}
	50%		{transform: translateX(-100%);}
	100%	{transform: translateX(0%);}
}

.tween
{
	backface-visibility: hidden;
}

.th
{
	transition: opacity 600ms ease-in-out;
}

.tm
{
	transition: opacity 400ms ease-in-out;
}

.ts
{
	transition: opacity 200ms ease-in-out;
}

.bg .tween
{
	transition: 1400ms ease-in;
}

.timeChange
{
	opacity: 0;
}

.light-early-morning
{
	background: #ff7f00;
}

.light-morning
{
	background: #00ffd5;
}

.light-day
{
	background: #00d5ff;
}

.light-afternoon
{
	background: #21b2cf;
}

.light-evening
{
	background: #189596;
}

.light-night
{
	background: #263e3e;
}

.char-sun
{
	width: 160px;
	height: 160px;
	position: absolute;
	left: 40px; top: 40px;

	transition: 600ms ease-in-out;
}

.char-hide
{
	transform: translateX(-260px);
}

.char-sun .sprite
{
	width: inherit;
	height: inherit;
	position: relative;
	transform-origin: 50% 50%;
}

.char-sun > .tween
{
	animation: spriteSunFrames 4300ms linear infinite;
}

@keyframes spriteSunFrames
{
	0%		{transform: translateY(0px);}
	25%		{transform: translateY(10px);}
	50%		{transform: translateY(0px);}
	75%		{transform: translateY(-10px);}
	100%	{transform: translateY(0px);}
}

.char-moon
{
	width: 160px;
	height: 160px;
	position: absolute;
	left: 40px; top: 40px;

	transition: 600ms ease-in-out;
}

.char-moon .sprite
{
	width: inherit;
	height: inherit;
	position: relative;
	transform-origin: 50% 50%;
}

.char-moon > .tween
{
	animation: spriteMoonFrames 4300ms linear infinite;
}

@keyframes spriteMoonFrames
{
	0%		{transform: rotate(0deg);}
	25%		{transform: rotate(20deg);}
	50%		{transform: rotate(0deg);}
	75%		{transform: rotate(-20deg);}
	100%	{transform: rotate(0deg);}
}

.gfx-sun
{
	background-image: url(../img/sun.svg);
	background-position: center center;
	background-size: 160px 160px;
}

.gfx-moon
{
	background-image: url(../img/moon.svg);
	background-position: center center;
	background-size: 160px 160px;
}


